{% extends 'base.html.twig' %}

{% block menuPrincipal %}
    {% if email != null %}
        <nav class="nav-wrapper">
            <div class="nav-wrapper indigo lighten-3">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                    <li><a href="../../Controller/partePublica/actividades.php">Actividades</a></li>
                    <li><a href="../../Controller/partePublica/formulario_login.php">Login</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ email }} <i class="fa fa-arrow-down"></i></a></li>
                    <!-- Dropdown Structure -->
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="#!">Mi perfil</a></li>
                        <li><a href="#!">Mis actividades</a></li>
                        <li><a href="../../Controller/partePublica/salirPerfil.php">Salir del perfil</a></li>
                    </ul>
                </ul>
            </div>
        </nav>
    {% else %}
        <nav class="nav-wrapper">
            <div class="nav-wrapper indigo lighten-3">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                    <li><a href="../../Controller/partePublica/actividades.php">Actividades</a></li>
                    <li><a href="../../Controller/partePublica/formulario_login.php">Login</a></li>
                </ul>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block contenido %}
    <div class="row">
        <form class="col s12" action="../../Controller/partePublica/login.php" method="post">
      <div class="row">
        <div class="input-field col s4">
            <input id="icon_prefix" type="email" class="validate" name="email">
          <label for="icon_prefix">Nombre del Usuario</label>
        </div>
        <div class="input-field col s4">
            <input id="icon_telephone" type="password" class="validate" name="password">
          <label for="icon_telephone">Contraseña</label>
        </div>
      </div>
        <input class="waves-effect waves-light btn" type="submit" value="Entrar">
    </form>
  </div>
{% endblock %}