{% extends 'base.html.twig' %}
{% block menuPrincipal %}
    {% if email != null %}
        <nav class="nav-wrapper">
            <div class="nav-wrapper indigo lighten-3">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                    <li><a href="../../Controller/partePublica/actividades.php">Actividades</a></li>
                    {#<li><a href="../../Controller/partePublica/formulario_login.php">Login</a></li>#}
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ email }} <i class="fa fa-arrow-down"></i></a></li>
                    <!-- Dropdown Structure -->
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="../../Controller/partePublica/miPerfil.php">Mi perfil</a></li>
                        <li><a href="../../Controller/partePublica/misActividades.php">Mis actividades</a></li>
                        <li><a href="../../Controller/partePublica/salirPerfil.php">Salir del perfil</a></li>
                    </ul>
                </ul>
            </div>
        </nav>
    {% else %}
        <nav class="nav-wrapper">
            <div class="nav-wrapper indigo lighten-3">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                    <li><a href="../../Controller/partePublica/actividades.php">Actividades</a></li>
                    <li><a href="../../Controller/partePublica/formulario_login.php">Login</a></li>
                </ul>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block contenido %}
    <div class="text-center">
        <div id="divMensaje"></div>
    </div>
    <div id="contenedorTabla">
        {% include "tablaMisActividades.html.twig" %}
    </div>
    
    <script type="text/javascript" src="/public/asset/js/misActividadesPublica.js"></script>
{% endblock %}
