<form id="formModificar" name="formModificar" action="modificarRegistro.php" method="post" >
    <span>Código:</span>
    <input type="number" class="form-control" name="codigo" readonly="codigo"><br>
    <span>Titulo:</span>
    <input type="text" name="titulo" class="form-control"><br>
    <span>Estado:</span>
    <input type="text" name="estado" class="form-control"><br>
    <span>Cordinador:</span>
    <input type="text" name="cordinador" class="form-control"><br>
    <span>Ubicación:</span>
    <input type="text" name="ubicacion" class="form-control"><br>
    <span>Fecha:</span>
    <input type="date" class="form-control" name="fecha"><br>
    <span>Horarios:</span>
    <input type="time" name="horarios" class="form-control"><br>
    <span>Total Horas:</span>
    <input type="number" name="totalHoras" class="form-control"><br>
    <span>Precio Total:</span>
    <input type="number" name="precioTotal" class="form-control"><br>
    <span>IVA:</span>
    <select name="IVA">
        <option value="si">Si</option>
        <option value="no">No</option>
    </select>
</form>

