/* 
    Created on : 04-abr-2016, 23:01:31
    Author     : Toñete
*/

#paginacion > li {
    cursor: pointer;
}

.oculto{
    display: none;
}

.error{
    background-color: #f2dede;
    color: red;
    border-color: #e04988;
}

.correcto{
    background-color: #dff0d8;
    color: #5f885f;
    border-color: #52aaae;
}
.correcto, .error{
    display: inline-block;
}

.centrado{
    text-align: center
}
#divMensaje{
    max-width: 600px;
    padding: 7px;
    text-align: left;
}
.text-center{
    text-align: center;
}

.lista{
    list-style-type: none;
}

.lista li{
    text-indent: 10px;
}

.lista li:before{
    content: "- ";
}

.icons-container{
    width: 60px;
    margin: 0px auto;
}

.icons{
    margin: 0px 2px;
}

.table-centered tr td, .table-centered tr th{
    text-align: center;
}

.modal-footer > i{
    margin: 0px 10px !important;
}
#contenedorPrincipal{
    padding-top: 25px;
}

.no-overflow{
    overflow: hidden;
}

.form-modal > .row{
    margin-bottom: 0;
}

.form-modal .input-field:last-child > *:first-child {
    margin-bottom: 10px !important;
}

.paginaActual {
    background-color: #ba1e11;
}

.paginaActual a{
    color: #f5f5f5 !important;
}

.foto{
    max-width: 150px;
}
