{% extends 'panelPrincipalBase.html.twig' %}
{% block menuPrincipalPanel %}
    <nav>
        <div class="nav-wrapper indigo lighten-3">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons"><i class="fa fa-bars" aria-hidden="true"></i></i></a>
            <ul class="right hide-on-med-and-down indigo lighten-3">
                <li><a href="/Controller/partePrivada/actividades/gestionActividades.php">Gestión Actividades</a></li>
                <li><a href="/Controller/partePrivada/participantes/gestionParticipantes.php">Gestión Participantes</a></li>
                <li><a href="/Controller/partePrivada/personas/gestionPersonas.php">Gestión Personas</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ email }} <i class="fa fa-arrow-down"></i></a></li>
                <!-- Dropdown Structure -->
                <div class="collapsible-body">
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="/Controller/partePrivada/usuario/miPerfil.php">Mi perfil</a></li>
                    <li><a href="/Controller/partePrivada/usuario/misActividades.php">Mis actividades</a></li>
                    <li><a href="/Controller/partePrivada/usuario/salirPerfil.php">Salir del perfil</a></li>
                </ul>
                </div>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/Controller/partePrivada/actividades/gestionActividades.php">Gestión Actividades</a></li>
                <li><a href="/Controller/partePrivada/participantes/gestionParticipantes.php">Gestión Participantes</a></li>
                <li><a href="/Controller/partePrivada/personas/gestionPersonas.php">Gestión Personas</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ email }} <i class="fa fa-arrow-down"></i></a></li>
                <!-- Dropdown Structure -->
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="/Controller/partePrivada/usuario/miPerfil.php">Mi perfil</a></li>
                    <li><a href="/Controller/partePrivada/usuario/misActividades.php">Mis actividades</a></li>
                    <li><a href="/Controller/partePrivada/usuario/salirPerfil.php">Salir del perfil</a></li>
                </ul>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contenidoPanel %}
    <div class="text-center">
        <div id="divMensaje"></div>
    </div>
    <div id="contenedorTabla">
        {% include "actividades/tablaActividades.html.twig" %}
    </div>

    <!-- Modal Structure -->
    <div id="modalActividad" class="modal">
        <div class="modal-content">
            <div id="divMensajeModal" class="error oculto"></div>
            {% include "actividades/formularioActividad.html.twig" %}
            {% include "actividades/detallesActividad.html.twig" %}
        </div>
        <div class="modal-footer no-overflow">
            <input class="waves-effect waves-light btn" type="button" id="cerrarModal" value="Cerrar">
            <input class="waves-effect waves-light btn" id="nuevaActividad" type="submit" form="formularioActividad" value="Registrar actividad">
            <input class="waves-effect waves-light btn" id="modificarActividad" form="formularioActividad" type="button" value="Guardad cambios">
            <input class="waves-effect waves-light btn" id="suscribirseActividad" form="formularioActividad" type="button" value="Suscribirse a la actividad">
        </div>
    </div>
    <script type="text/javascript" src="/public/asset/js/gestionActividades.js"></script>
    <script type="text/javascript" src="/public/lib/timepicki/js/timepicki.js"></script>
{% endblock %}
