{% extends 'panelPrincipalBase.html.twig' %}
{% block menuPrincipalPanel %}
    <nav class="nav-wrapper">
        <div class="nav-wrapper indigo lighten-3">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                <li><a href="../../Controller/partePrivada/gestionActividades.php">Gestión Actividades</a></li>
                <li><a href="../../Controller/partePrivada/gestionParticipantes.php">Gestión Participantes</a></li>
                <li><a href="../../Controller/partePrivada/gestionPersonas.php">Gestión Personas</a></li>
                <li><a href="../../Controller/partePrivada/gestionPersonas.php">{{ email }}</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contenidoPanel %}
    <div class="center-align">
        <form action="../../Controller/partePrivada/eliminadopersona.php" method="post">
            <input class="waves-effect waves-light btn red accent-4" type="submit"  value="borrar" name="opcion">
            <input class="waves-effect waves-light btn amber lighten-2" type="submit" value="cancelar" name="opcion">
        </form>
    </div>
{% endblock %}
