
<div class="row" id="contenedorDetallesActividad">
    <div>
        <span class="spanDetalles col s5">Codigo:</span><span class="col s5 " data-actividad="codigo_actividad"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">Titulo:</span><span class="col s5 " data-actividad="titulo"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">Estado:</span><span class="col s5 " data-actividad="estado"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">Coordinador:</span><span class="col s5 " data-actividad="coordinador"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">Ponente:</span><span class="col s5 " data-actividad="ponente"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">Ubicacion:</span><span class="col s5 " data-actividad="ubicacion"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">Fecha inicio:</span><span class="col s5 " data-actividad="fecha_inicio"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">Fecha fin:</span><span class="col s5 " data-actividad="fecha_fin"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">Horario inicio:</span><span class="col s5 " data-actividad="horario_inicio"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">Horario fin:</span><span class="col s5 " data-actividad="horario_fin"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">N total horas:</span><span class="col s5 " data-actividad="n_Total_Horas"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">Precio:</span><span class="col s5 " data-actividad="precio"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">IVA:</span><span class="col s5 " data-actividad="IVA"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">Descriptor:</span><span class="col s5 " data-actividad="descriptor"></span>
    </div>
    <div>
        <span class="spanDetalles col s5">Observaciones:</span><span class="col s5 " data-actividad="observaciones"></span>
    </div>
</div>