
<div class="row" id="contenedorDetallesActividad">
    <div>
        <span class="spanDetalles col s4">Codigo:</span><span class="col s4 offset-s4" data-actividad="codigo_actividad"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">Titulo:</span><span class="col s4 offset-s4" data-actividad="titulo"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">Estado:</span><span class="col s4 offset-s4" data-actividad="estado"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">Coordinador:</span><span class="col s4 offset-s4" data-actividad="coordinador"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">Ponente:</span><span class="col s4 offset-s4" data-actividad="ponente"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">Ubicacion:</span><span class="col s4 offset-s4" data-actividad="ubicacion"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">Fecha inicio:</span><span class="col s4 offset-s4" data-actividad="fecha_inicio"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">Fecha fin:</span><span class="col s4 offset-s4" data-actividad="fecha_fin"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">Horario inicio:</span><span class="col s4 offset-s4" data-actividad="horario_inicio"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">Horario fin:</span><span class="col s4 offset-s4" data-actividad="horario_fin"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">N total horas:</span><span class="col s4 offset-s4" data-actividad="n_Total_Horas"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">Precio:</span><span class="col s4 offset-s4" data-actividad="precio"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">IVA:</span><span class="col s4 offset-s4" data-actividad="IVA"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">Descriptor:</span><span class="col s4 offset-s4" data-actividad="descriptor"></span>
    </div>
    <div>
        <span class="spanDetalles col s4">Observaciones:</span><span class="col s4 offset-s4" data-actividad="observaciones"></span>
    </div>
</div>