{% extends 'panelPrincipalBase.html.twig' %}
{% block menuPrincipalPanel %}
    <nav class="nav-wrapper">
        <div class="nav-wrapper indigo lighten-3">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                <li><a href="../../Controller/partePrivada/gestionActividades.php">Gestion Actividades</a></li>
                <li><a href="../../Controller/partePrivada/gestionParticipantes.php">Gestion Participantes</a></li>
                <li><a href="../../Controller/partePrivada/gestionPersonas.php">Gestion Personas</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contenidoPanel %}
    <h4>Bienvenido al panel de Administración de Bin</h4>
{% endblock %}