<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Panel Principal de Gestion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/lib/materialize/css/materialize.min.css">
        <link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/lib/timepicki/css/timepicki.css">
        <link rel="stylesheet" href="/public/asset/css/style.css" >
        <script type="text/javascript" src="/public/lib/jquery/jquery.min.js"></script>
    </head>
    <body>
        <div class="row">
            <header class="indigo lighten-5 section">
                <section class="container white-text center-align">
                    <h1>Panel Principal de Gestion</h1>
                </section>
            </header>
        {% block menuPrincipalPanel %}{% endblock %}
        <div id="contenedorPrincipal" class="container">
        {% block contenidoPanel %}{% endblock %}
    </div>
</div>
<footer class="page-footer indigo lighten-4">
    <div class="footer-copyright">
        <div class="container">
            Asociacion BIN 
            <a class="grey-text text-lighten-4 right" href="#">Realizado por Antonio</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/public/lib/materialize/js/materialize.min.js"></script>
</body>
</html>
