{% extends 'panelPrincipalBase.html.twig' %}
{% block menuPrincipalPanel %}
    <nav class="nav-wrapper">
        <div class="nav-wrapper indigo lighten-3">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile indigo lighten-3" class="right hide-on-med-and-down">
                <li><a href="../Controller/gestionActividades.php">Gestion Actividades</a></li>
                <li><a href="../Controller/gestionParticipantes.php">Gestion Participanes</a></li>
                <li><a href="../Controller/gestionPersonas.php">Gestion Personas</a></li>
                <li><a href="../Controller/gestionAdminContrasena.php">Gestion AdminContraseñas</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block contenidoPanel %}
    <table class="bordered">
        <tr>
            <td>Codigo</td>
            <td>Usuario</td>
            <td>Contraseña</td>
            <td>Perfil</td>
            <td></td>
        </tr>
        <tr>
        <div class="row">
            <form class="col s12" action="../Controller/login.php">
                <td>
                    <select class="browser-default">
                        {% for codigo in codigos %}
                            <option value="{{codigo.codigo}}">{{codigo.codigo}}</option>
                        {% endfor %}
                    </select>
                </td>

                <div class="input-field col s3">
                    <td><input id="icon_telephone" type="text" class="validate"></td>
                </div>
                <div class="input-field col s3">
                    <td><input id="icon_telephone" type="password" class="validate"></td>
                </div>
                <td>
                    <select class="browser-default">
                        {% for perfil in perfiles %}
                            <option value="{{perfil.perfil}}">{{perfil.perfil}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input class="waves-effect waves-light btn" type="submit" value="Insertar"></td>
            </form>
        </div>
    </tr>
</table>
{% endblock %}
